*.zip
*.~lock*
Advanced Computer Lab/
Semesters/Semester 9/Machine Learning/Assignments/Assignment 1/Least Squares/Test/

Semesters/Semester 9/Machine Learning/Assignments/Assignment 1/Least Squares/Train/

Semesters/Semester 9/Data Engineering/Practical Sessions/

.idea/
venv/
__pycache__/
